body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.5s;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #111;
    }
    50% {
        background-color: #222;
    }
    100% {
        background-color: #111;
    }
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-container {
    width: 50%;
    position: relative;
    overflow: hidden;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover; /* Resmi container'a tam sığdırmak için */
    transition: transform 0.5s;
}

.details {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1, p, .price {
    margin-bottom: 20px;
    color: #fff;
}

.buy-btn {
display: inline-block;
padding: 12px 56px;
background-color: #3498db;
color: #fff;
text-align: center;
text-decoration: none;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.2s ease-in-out;
font-size: 1.2em;
font-weight: bold;
box-shadow: 0 4px 8px rgba(52, 152, 219, 0.2);
}

.buy-btn:hover {
background-color: #2e87c1;
border-color: #2e87c1;
color: #fff;
transform: scale(1.05);
}




.buy-btn:hover {
    background-color: #218838;
}

.description {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.seller-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    margin-left: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.seller-name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #fff;
}

.seller-info {
    text-align: left;
    color: #fff;
}

.price {
    color: #007BFF;
    font-size: 1.5em;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 1000;
}

.logout-button {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.5s, box-shadow 0.5s;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #721c24;
    margin-top: 15px;
    margin-left: {{ red["margin"] }}px;
}

#user-info-container {
    display: flex;
    align-items: center;
}

#user-info {
    margin-left: 20px;
}

#avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#greeting {
    text-align: left;
}
#robotting1 {
max-width: 100px;
max-height: 100px;
position: absolute;
top: 43%;
left: 50%;
transform: translate(-50%, -50%);
}